{% extends 'base.html' %}

{% block title %} | Login {% endblock %}
{% block content %}
<div class="auth-content">
  <div class="auth-container">
    <span>
      {% include 'alerts.html' %}
    </span>
    <div class="auth-card">
      <div class="auth-header">
        <h2><span class="icon">🔓</span> Login</h2>
      </div>
      <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input type="text" id="email" name="email" placeholder="Enter your email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" name="password" placeholder="password" class="form-control" required>
        </div>
        <button type="submit" class="btn">Login</button>
      </form>
      <!-- Social Login Section -->
      <h4 style="text-align: center;">Or login with these</h4>
      <div class="social-login">
        <a href="#" class="social-btn google-btn">
          <svg width="20" height="20" viewBox="0 0 48 48"><g><path fill="#4285F4" d="M44.5 20H24v8.5h11.7C34.8 33.1 30.2 36 24 36c-6.6 0-12-5.4-12-12s5.4-12 12-12c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.5 6.5 29.6 4.5 24 4.5 12.7 4.5 3.5 13.7 3.5 25S12.7 45.5 24 45.5c10.5 0 19.5-7.6 19.5-19.5 0-1.3-.1-2.2-.3-3z"/><path fill="#34A853" d="M6.3 14.7l7 5.1C15.3 17.1 19.3 14.5 24 14.5c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.5 6.5 29.6 4.5 24 4.5c-7.2 0-13.3 4.1-16.7 10.2z"/><path fill="#FBBC05" d="M24 45.5c5.6 0 10.5-1.9 14.3-5.2l-6.6-5.4c-2.1 1.5-4.8 2.5-7.7 2.5-6.2 0-11.4-4.2-13.3-9.8l-7 5.4C6.7 41.2 14.7 45.5 24 45.5z"/><path fill="#EA4335" d="M44.5 20H24v8.5h11.7c-1.1 3.1-4.2 6.5-11.7 6.5-6.6 0-12-5.4-12-12s5.4-12 12-12c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.5 6.5 29.6 4.5 24 4.5c-11.3 0-20.5 9.2-20.5 20.5S12.7 45.5 24 45.5c10.5 0 19.5-7.6 19.5-19.5 0-1.3-.1-2.2-.3-3z"/></g></svg>
          Continue with Google
        </a>
      
        <a href="#" class="social-btn facebook-btn">
          <svg width="20" height="20" viewBox="0 0 32 32"><path fill="#1877F2" d="M32 16.1C32 7.2 24.8 0 16 0S0 7.2 0 16.1c0 8 5.9 14.6 13.6 15.8v-11.2h-4.1v-4.6h4.1v-3.5c0-4.1 2.4-6.4 6.1-6.4 1.8 0 3.7.3 3.7.3v4.1h-2.1c-2.1 0-2.7 1.3-2.7 2.6v3h4.6l-.7 4.6h-3.9v11.2C26.1 30.7 32 24.1 32 16.1z"/><path fill="#fff" d="M22.3 20.7l.7-4.6h-4.6v-3c0-1.3.6-2.6 2.7-2.6h2.1v-4.1s-1.9-.3-3.7-.3c-3.7 0-6.1 2.3-6.1 6.4v3.5h-4.1v4.6h4.1v11.2c.8.1 1.6.2 2.4.2s1.6-.1 2.4-.2v-11.2h3.9z"/></svg>
          Continue with Facebook
        </a>
      </div>
      <!-- End Social Login Section -->

      
      <div class="form-group" style="text-align: center; display: flex; justify-content: space-between;">
        <a href="{% url 'register' %}" style="color: #1e3a64;">Register</a>

        <a href="#" style="color: #1e3a64;">Forgot password?</a>
      </div>
    </div>
  </div>
</div>












{% endblock %}